<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
<persistence-unit name="JPATCK" transaction-type="RESOURCE_LOCAL">
     <description>Persistence Unit for Java Persistence API Standalone TCK</description>
</persistence-unit>
</persistence>
